header {
    display:flex;
    width: 100vw;
    height: 150px;
    background-color:rgb(69, 69, 69) ;
}
body{
    background-color: rgb(200, 200, 200);
}

.body{
    position: absolute;
    height:200vh;
    width: 70vw;
    left: 15vw;
    background-color: white;
}

.footer{
    position:absolute;
    bottom:0;
    height:10vh;
    width: 70vw;
    left: 15vw;
    background-color: rgb(35, 35, 35);
}